{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block content %}
<div class="page_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Number of Concepts</th>
                                    <th scope="col">Item Price</th>
                                    <th scope="col">Concpet Price</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>

                            {% for item in ordered_items %}
                            
                            <tr>
                                <td class="py-1">
                                    <p class="my-0">{{ item.category_name }}</p>
                                </td>                                
                                <td class="py-1">
                                    <p class="my-0">{{ item.ordered_item.description }}</p>
                                </td>
                                <td class="py-1">
                                    <p class="my-0">{{ item.ordered_item.number_of_concepts }}</p>
                                </td>
                                <td class="py-1">
                                    <p class="my-0">${{ item.category_price }}</p>
                                </td>
                                <td class="py-1">
                                    <p class="my-0">${{ item.concept_price }}</p>
                                </td>
                                <td class="py-1">
                                    <p class="my-0">{{ item.ordered_item.image }}</p>
                                </td>
                                <td class="py-1">
                                    <p class="my-0">${{ item.total }}</p>
                                </td>
                                <form class="form" method="POST" action="{% url 'remove_from_bag' item.ordered_item%}">
                                    {% csrf_token %}
                                    <td class="py-1">
                                        <button class="my-0 remove-item" id="remove_{{ item.ordered_item  }}">Remove Item</button>
                                    </td>
                                    <td class="py-1">
                                </form>
                                <td class="py-1">
                                    <a href="edit/{{ item.ordered_item.id }}">
                                        <button>Edit Item</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                        <strong>Grand Total: </strong><p>${{ grand_total|floatformat:2 }}</p>
                        <strong>You Saved: </strong><p>${{ discount|floatformat:2 }}</p>
                        <a href="{% url 'checkout' %}" class="site_btn_blu">Checkout</a>
                    </div>
                {% else %}
                    <p>Your bag is empty</p>
                    <a href="{% url 'shop' %}" class="site_btn_blu">Order Now</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Delete item from bag on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}"
        var itemId = $(this.attr('id').split('remove_')[1]);
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken}

        $.post(url)
            .done(function() {
                location.reload()
            })
    })
</script>
{% endblock %}