{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container index_hero_image h-100">
        <div class="row h-100">
            <div class="col-3">
                <button type="button" class="site_btn">Let's Get Started</button>
            </div>
            <div class="col-7 my-auto">
                <h1>Grow Your Brand</h1>
                <p>
                    We Build Top Class Designs that Strengthen Your Brand Awareness
                </p>
            </div>
        </div>
    </div>
{% endblock %}