{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<!-- Header -->
    <div class="container h-10" id="home_header_container">
        <div class="row h-100">
            <div class="col-3 col-md-12">
                <a href="{% url 'shop' %}">
                    <button type="button" class="site_btn_blu">Let's Get Started</button>
                </a>
            </div>
            <div class="col-7 col-md-12 my-auto">
                <h1>Grow Your Brand</h1>
                <p>
                    We Build Top Class Designs that Strengthen Your Brand Awareness
                </p>
            </div>
        </div>
    </div>

    <!-- Portfolio -->
    <div>
        <div class="container">
            <div class="row ">
                <h2 class="col-12 text-center">Tailored Graphic Design</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-4 portfolio_cards">
                <a href="{% url 'portfolio' %}?q=branding">
                    <img src="{{ MEDIA_URL }}home/branding-eva-bronzini-7661627.jpg" alt="Laptop screen with text" class="card-img-top">
                    <div class="card-body home_page_porfolio_cards_text">
                        <h4 class="card-title text-center">Brand Design</h4>
                        <p class="text-center"><strong>How to create versatile product branding?</strong> This is the right place for you! Check out our Brand Design portfolio and see what suits you</p>
                    </div>
                </a>
            </div>
            <div class="col-4 portfolio_cards">
                <a href="{% url 'portfolio' %}?q=logo">
                    <img src="{{ MEDIA_URL }}home/logo-karolina-grabowska-4219151.jpg" alt="A person hand drawing designs" class="card-img-top">
                    <div class="card-body home_page_porfolio_cards_text">
                        <h4 class="card-title text-center">Logo Design</h4>
                        <p class="text-center">Need a logo that stands out? We can <strong>create a versatile logo</strong> for any brand</p>
                    </div>
                </a>
            </div>
            <div class="col-4 portfolio_cards">
                <a href="{% url 'portfolio' %}?q=poster">
                    <img src="{{ MEDIA_URL }}home/poster-cottonbro-3952223.jpg" alt="Someone holding a poster of hands being washed" class="card-img-top">
                    <div class="card-body home_page_porfolio_cards_text">
                        <h4 class="card-title text-center">Poster Design</h4>
                        <p class="text-center ">Looking for an <strong>impactful poster design? </strong>Our posters are top class, see for yourself</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Client Testimonials -->
    <div class="container mt-5 pb-5" id="testimonial_container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Our Happy Clients</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">Don't believe us? See what our past clients have to say about it</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box testimonial_container">
                                        <div class="img-area mx-auto testimonial_image">
                                            <img src="#" alt="User profile image ">
                                        </div>
                                        <div class="">
                                            <h4 class="text-center">### Users 1 Title ###</h4>
                                            <p class="text-center ">### Users Testimonial ###</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box testimonial_container">
                                        <div class="img-area mx-auto testimonial_image">
                                            <img src="#" alt="User profile image ">
                                        </div>
                                        <div class="">
                                            <h4 class="text-center">### Users 2 Title ###</h4>
                                            <p class="text-center ">### Users Testimonial ###</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box testimonial_container">
                                        <div class="img-area mx-auto testimonial_image">
                                            <img src="#" alt="User profile image ">
                                        </div>
                                        <div class="">
                                            <h4 class="text-center">### Users 3 Title ###</h4>
                                            <p class="text-center ">### Users Testimonial ###</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box testimonial_container">
                                        <div class="img-area mx-auto testimonial_image">
                                            <img src="#" alt="User profile image ">
                                        </div>
                                        <div class="">
                                            <h4 class="text-center">### Users 4 Title ###</h4>
                                            <p class="text-center ">### Users Testimonial ###</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box testimonial_container">
                                        <div class="img-area mx-auto testimonial_image">
                                            <img src="#" alt="User profile image ">
                                        </div>
                                        <div class="">
                                            <h4 class="text-center">### Users 5 Title ###</h4>
                                            <p class="text-center ">### Users Testimonial ###</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box testimonial_container">
                                        <div class="img-area mx-auto testimonial_image">
                                            <img src="#" alt="User profile image ">
                                        </div>
                                        <div class="">
                                            <h4 class="text-center">### Users 6 Title ###</h4>
                                            <p class="text-center ">### Users Testimonial ###</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ol class="carousel-indicators pt-5">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}