body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.main-content-container {
    padding-top: 10%;
}

/* Navigation */

header {
    /* background-color: #212426; */
    height: 1000px;
}

#navbarNav {
    justify-content: center;
}

.test-link {
    text-decoration: none !important;
    color: white !important;
}

#search_input_field {
    width: 100%;
}

#search_icon {
    color: #FFFFFF;
}

.index_hero_image {
    padding-top: 100px ; 
}


/* Site body container */

.content_container {
    display: flex;
    margin-top: 200px !important;
    flex-direction: column;
    min-height: 100vh;
}

.inner_content_container {
    min-height: 100vh;
}

/* Site Buttons */

.site_btn_blu {
    color: #FFFFFF;
    background-color: #1185C0;
    padding: 12px 28px;
    border-radius: 50px;
    transition-duration: 0.2s;
}

.site_btn_blu:hover {
    background-color: #FFFFFF;
    color: #1185C0;
    
  }

  /* Design Cards */

.design_cards {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
  }

.portfolio_cards {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.home_page_porfolio_cards_text {
    color: #FFFFFF;
    background-color: #1185C0;
  }

/* Testimonials Section */

#testimonial_container {
    color: #FFFFFF;
    margin-bottom: 200px !important;
    border-radius: 10px;
    padding: 10px;
}

.testimonial_image {
    height: 100px;
    width: 100px;
    border: 5px solid #1185C0;
    border-radius: 50%;
}

.carousel-indicators {
    bottom: -70px;
}

.carousel-indicators li {
    background-color: #212426;
}

.carousel-indicators li .active {
    background-color: #1185C0;
}

/* Allauth */

.allauth-container {
    margin-top: 200px;
}

/* Footer */
footer {
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
    color: #FFFFFF;
    background-color: #212426;
}

.news_ltr_btn {
    background-color: #1185C0;
}


/* Message Container */
.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Mailchimp */

#mc_embed_signup{
    background:#212426; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;  
    width:600px;
}

/* Media Queries */

@media screen and (max-width: 990px) {
    /* Site body container */

    .content_container {
        display: flex;
        margin-top: 400px !important;

        }

    /* Home page header container */
    #home_header_container {
        display: flex;
    }
}
@media screen and (max-width: 800px) {

    /* Navigation */

    #search_input_field {
      display: none;
    }

    #search_input_field {
        width: 10%;
    }

    .index_hero_image {
        padding-top: 400px ; 
    }

    /* Main Content */

    .main-content-container {
        padding-top: 30%;
    }
    .inner_content_container {
        min-height: 100vh;
    }

    /* Site Buttons */

    .site_btn_blu {
        width: 180px;
        height: 40px;
    }

    /* Footer */
    footer {
        width: 100%;
    }

    .content_container {
        margin-top: 200px !important;
        margin-bottom: 200px !important;

    }

}