
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content-container {
    padding-top: 10%;
}

/* Navigation */

header {
    background-color: #212426;
}

#navbarNav {
    justify-content: center;
}

#search_input_field {
    width: 100%;
}

#search_icon {
    color: #FFFFFF;
}

.index_hero_image {
    padding-top: 200px ; 
}

/* Site body container */

#content_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#inner_content_container {
    flex: 1 0 auto;
    min-height: 100vh;
}

/* Site Buttons */

.site_btn_blu {
    color: #FFFFFF;
    background-color: #1185C0;
    padding: 12px 28px;
    border-radius: 50px;
    transition-duration: 0.2s;
}

.site_btn_blu:hover {
    background-color: #FFFFFF;
    color: #1185C0;
    
  }

  /* Design Cards */

.design_cards {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
  }

.portfolio_cards {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.home_page_porfolio_cards_text {
    color: #FFFFFF;
    background-color: #1185C0;
  }

/* Testimonials Section */

.testimonial_container {
    color: #FFFFFF;
    background-color: #212426;
    border-radius: 10px;
    padding: 10px;
}

.testimonial_image {
    height: 100px;
    width: 100px;
    border: 5px solid #1185C0;
    border-radius: 50%;
}

.carousel-indicators {
    bottom: -70px;
}

.carousel-indicators li {
    background-color: #212426;
}

.carousel-indicators li .active {
    background-color: #1185C0;
}

/* Allauth */

.allauth-container {
    margin-top: 200px;
}

/* Footer */
footer {
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
    color: #FFFFFF;
    background-color: #212426;
}

.news_ltr_btn {
    background-color: #1185C0;
}

/* Login Page*/
.account_form{
    margin-top: 300px;
    margin-bottom: 100px;
}

/* Message Container */
.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
/* Media Queries */

  @media screen and (max-width: 800px) {

    /* Navigation */

    #search_input_field {
      display: none;
    }

    #search_input_field {
        width: 10%;
    }

    .index_hero_image {
        padding-top: 400px ; 
    }

    /* Main Content */

    .main-content-container {
        padding-top: 30%;
    }

    /* Site Buttons */

    .site_btn_blu {
        width: 300px;
        height: 40px;
    }


}