.portfolio_main_container {
    padding-top: 200px ;
    width: 100%;
}

/* Main Image container - Grid View */
.protfolio_img_container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.3s;
}

.protfolio_img_container img:hover{
    opacity: .7;
}

/* Portfolio Detail Page */
/* Portfolio Image container - Grid View */
/* Main Image container - Grid View */
.protfolio_detail_img_container img {
    width: 600px;
    height: 600px;
    object-fit: cover;

}
/* Media Queries */

@media screen and (max-width: 800px) {

/* Portfolio Image container - Grid View */
/* Main Image container - Grid View */
.protfolio_detail_img_container img {
    width: 300px;
    height: 300px;
    object-fit: cover;

}
}