{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Header -->
    <div class="container index_hero_image h-100">
        <div class="row h-100">
            <div class="col-7 col-md-12 my-auto">
                <h2>Tailor your own design</h2>
                <p>
                    Tell us what you are looking for and let us do the rest
                </p>
            </div>
        </div>
    </div>

    <!-- Shop Form -->
    <div class="container">
        <form class="form"   method="POST" enctype="multipart/form/data" name="user_form">
            {% csrf_token %}
            {{ order_number }}
            {{ form.category | as_crispy_field }}
            {{ form.description | as_crispy_field }}
            {{ form.number_of_concepts | as_crispy_field }}
            {{ form.image | as_crispy_field }}
            {{ form.grand_total | as_crispy_field }}
            <button type="submit" class="site_btn_blu mt-5">Proceed to checkout</button>
    <!--
            <div class="row">
                <div class="col-12">
                    <input type="submit" class="site_btn_blu mt-5" value="Add to Bag">
                </div>
                -->
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>
    </div>

{% endblock %}