{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Header -->
    <div class="container index_hero_image h-100">
        <div class="row h-100">
            <div class="col-3 col-md-12">
                <button type="button" class="site_btn_blu">Let's Get Started</button>
            </div>
            <div class="col-7 col-md-12 my-auto">
                <h2>Tailor your own design</h2>
                <p>
                    Tell us what you are looking for and let us do the rest
                </p>
            </div>
        </div>
    </div>

    <!-- Portfolio -->
    
{% endblock %}