{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Header -->
    <div class="container index_hero_image h-100">
        <div class="row h-100">
            <div class="col-3 col-md-12">
                <button type="button" class="site_btn_blu">Let's Get Started</button>
            </div>
            <div class="col-7 col-md-12 my-auto">
                <h2>Tailor your own design</h2>
                <p>
                    Tell us what you are looking for and let us do the rest
                </p>
            </div>
        </div>
    </div>

    <!-- Shop Form -->
    <form class="form"  action="{% url 'add_to_bag'  %}" method="POST" enctype="multipart/form/data" name="user_form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="site_btn_blu mt-5" >
<!--
        <div class="row">
            <div class="col-12">
                <input type="submit" class="site_btn_blu mt-5" value="Add to Bag">
            </div>
            -->
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>

    </form>

{% endblock %}