{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
    <h2 class="text-center mb-5">Contact Page</h2>
    <div class="container-fluid">
        <div class="row text-center justify-content-center ">
            <div class="col-12 col-md-5 contact-card p-2">
                <i class="fas fa-phone-alt fa-2x mt-5 mb-3"></i>
                <h3>Call On</h3>
                <p>Interested in over the phone consultation?</p>
                <p>Call the direct line</p>
                <p><strong>+353 874562154</strong></p>
            </div>
            <div class="col-12 col-md-5 contact-card p-2">
                <i class="fas fa-envelope fa-2x mt-5 mb-3"></i>
                <h5>Email</h5>
                <p>Would you like to contact me through email?</p>
                <p>Send me a message</p>
                <p><strong>info@graphicme.ie</strong></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}